body {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    background-color: #F5FFFA;
    padding-left: 1em;
    padding-right: 1em;
}

#content {
    max-width: 80ch;
}

h1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.info-line {
    margin-top: 0px;
    padding-top: 0.5em;
}

.article-date {
    float: right;
    font-style: italic;
}

a[href*="wikipedia.org"] {
    color: dimgray;
}
a {
    text-decoration: none;
    color: royalblue;
}
a:visited {
    color: rebeccapurple;
}
